<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <h2>Login</h2>
            <label for="username">Username:</label>
            <asp:TextBox ID="txtUsername" runat="server"></asp:TextBox><br /><br />
            <label for="password">Password:</label>
            <asp:TextBox ID="txtPassword" TextMode="Password" runat="server"></asp:TextBox><br /><br />
            <asp:Button ID="btnLogin" Text="Login" runat="server" OnClick="btnLogin_Click" />
            <asp:Label ID="lblMessage" runat="server" ForeColor="Red"></asp:Label>
        </div>
    </form>
</body>
</html>
